<%- include('../partials/header') %>

<section class="aTags">

<a href="/users/<%= user._id %>/exercises/new">Add New Exercise</a>
</section>

  <section>
    <div> </div>
    <div><%= user.name %></div>
   
</section>

  <section>
    <h2>Exercises</h2>
   
    <% if (exercises.length) { %>
      <table>
        <thead>
          <tr>
            
            <th class="exerciseDetails">Exercsie</th>
            <th class="exerciseDetails">Date</th>
            <th class="exerciseDetails">Sets</th>
            <th class="exerciseDetails">Reps</th>
            <th class="exerciseDetails">Weights</th>
          </tr>
        </thead>
        <tbody>
          <% exercises.forEach(function(e) { %>
          <tr>
           
            <td><%= e.typeOfExercise %></td>
            <td><%= e.date %></td>
            <td><%= e.sets %></td>
            <td><%= e.reps %></td>
            <td><%= e.weight %></td>
            
            
          </tr>
          <% }); %>
          
        </tbody>
      </table>
      <% } else { %>
      <h5>No Exercises Yet</h5>
      <% } %>

    </section>
     
    



  <%- include('../partials/footer') %>