<%- include('../partials/header') %>
<h1>exercises</h1>
<ul >
       
    <!-- new html below -->
    <li>
      <% if (user) { %>
      <a href="/logout">
        <i ></i>Log Out</a>
      
      <% } else { %>
      <a href="/auth/google">
       <i></i>Login with Google</a
      >
      <% } %>
    </li>
  </ul>

  <section>
    <div>Name: </div>
    <div><%= user.name %></div>
   
</section>

  <section>
    <h2>Exercises</h2>
    </form>
    <% if (exercises.length) { %>
      <table>
        <thead>
          <tr>
            
            <th>Exercsie</th>
            <th>Date</th>
            <th>Sets</th>
            <th>Reps</th>
            <th>Weights</th>
          </tr>
        </thead>
        <tbody>
          <% exercises.forEach(function(e) { %>
          <tr>
           
            <td><%= e.typeOfExercise %></td>
            <td><%= e.date %></td>
            <td><%= e.sets %></td>
            <td><%= e.reps %></td>
            <td><%= e.weight %></td>
            
          </tr>
          <% }); %>
          
        </tbody>
      </table>
      <% } else { %>
      <h5>No Exercises Yet</h5>
      <% } %>

      <td><a href="/users/<%= user._id %>">Users Page</a></td>
    </section>
     
    



  <%- include('../partials/footer') %>