<%- include('../partials/header') %>

<section id="aTags">
<a href="/users/<%= user._id %>/exercises/new">Add New Exercise</a>
<a href="/users/<%= user._id %>/exercises/index"> Exercise Page</a>
<a href="/users/<%= user._id %>/notes"> Add Notes</a>
</section>

<section>
    <div class="userInfo">Name: </div>
    <div><%= user.name %></div>
    <div class="userInfo">Email: </div>
    <div><%= user.email %></div>
    <div class="userInfo">Birth Date: </div>
    <div><%= user.birthday %></div>
</section>


<section id="notes">
  
  <h2>Notes</h2>
  <% if (user.notes.length) { %>
    <table>
      <thead>
        <tr>
          
          <th>Notes</th>
          <th>Date</th>
          
        </tr>
      </thead>
      <tbody>
        <% user.notes.forEach(function(n) { %>
        <tr>
         
          <td><%= n.content %></td>
          <td><%= n.createdAt.toLocaleDateString() %></td>
          
          
        </tr>
        <% }); %>
        
      </tbody>
    </table>
    <% } else { %>
    <h5>No Notes Yet</h5>
    <% } %>
</section>

<%- include('../partials/footer') %> 